--- 
layout: archive
---

{{ content }} 
<br>
    {% if author.avatar %}
        <div class="author__avatar_profile">
            <img src="{{ author.avatar }}">
        </div>
        <div class= "author__info">
            <h5>Subin Kim, 김수빈</h5>
            충남대학교 컴퓨터공학과 2017.03 ~ <br>
            충남대학교 컴퓨터공학과 임베디드 연구실 학부 연구생 2019.06 ~ 2019.08 <br>
            (주) RTST Linux 팀 인턴 2020.07 - 2020.08 <br>
            한국과학기술정보연구원(KISTI) 연구데이터공유센터 아르바이트 2020.10 ~ 2020.12  <br>
            한국전자통신연구원(ETRI) 공공안전지능화 연구실 동계 연구연수생 2021.01 ~ <br>
        </div>
    {%else%}
        <h5>김수빈, Subin Kim</h5><br>
            충남대학교 컴퓨터공학과 2017.03 ~ <br>
            충남대학교 컴퓨터공학과 임베디드 연구실 학부 연구생 2019.06 ~ 2019.08 <br>
            (주) RTST Linux 팀 인턴 2020.07 - 2020.08 <br>
            한국과학기술정보연구원(KISTI) 연구데이터공유센터 아르바이트 2020.10 ~ 2020.12  <br>
            한국전자통신연구원(ETRI) 공공안전지능화 연구실 동계 연구연수생 2021.01 ~ <br>

    {% endif %}


    <h2> Interest 🌱</h2>

    - Text Summarization<br>
    - Speaker Recognition<br>
    - Linux Operating System<br>
    - Develop Android Application<br>

    <h2> Tech Stack 🌱</h2>

    <div  align=left>
        <img src="https://img.shields.io/badge/Python-3766AB?style=flat-square&logo=Python&logoColor=white"/></a>
        <img src="https://img.shields.io/badge/TensorFlow-FF6F00?style=flat-square&logo=TensorFlow&logoColor=white"/></a>
        <img src="https://img.shields.io/badge/Java-007396?style=flat-square&logo=Java&logoColor=white"/></a>
        <img src="https://img.shields.io/badge/C++-00599C?style=flat-square&logo=C++&logoColor=white"/></a>
        <img src="https://img.shields.io/badge/C-276DC3?style=flat-square&logo=C&logoColor=white"/></a>
        <img src="https://img.shields.io/badge/R-276DC3?style=flat-square&logo=R&logoColor=white"/></a>
        <img src="https://img.shields.io/badge/Android-3DDC84?style=flat-square&logo=Android&logoColor=white"/></a>
    </div>

    <div  align=left>
        <img src="https://img.shields.io/badge/Javascript-F7DF1E?style=flat-square&logo=Javascript&logoColor=white"/></a>
        <img src="https://img.shields.io/badge/PHP-777BB4?style=flat-square&logo=PHP&logoColor=white"/></a>
        <img src="https://img.shields.io/badge/HTML5-E34F26?style=flat-square&logo=HTML5&logoColor=white"/></a>
        <img src="https://img.shields.io/badge/MySQL-4479A1?style=flat-square&logo=MySQL&logoColor=white"/></a>
        <img src="https://img.shields.io/badge/PostgreSQL-336791?style=flat-square&logo=PostgreSQL&logoColor=white"/></a>
    </div>

<h2> etc </h2>
- <a href="https://cnu-devapp.blogspot.com/"> My Team contributing to NextCloud Open Source-<strong>devapp</strong></a>

