---
layout: archive
---
{{ content }}
<br>

<h3>Abstract Meaning Representation (AMR)</h3>

<h5>리뷰한 논문</h5>
Banarescu, L., et al. "Abstract meaning representation for sembanking." in Proceedings of the 7th linguistic annotation workshop and interoperability with discourse, Sofia, Bulgaria, 2013.<br><br>

<h5>참고 문헌</h5>
- Liu, F., et al. "Toward abstractive summarization using semantic representations." in Proceedings of the 2015 conference of the north american chapter of the association for computational linguistics: human language technologies, Denver, Colorado, 2015.
<br><br> - Choe, H., Han, J., Park, H., Oh, T. H., and Kim, H. "Building korean abstract meaning representation corpus." in Proceedings of the Second International Workshop on Designing Meaning Representations, Barcelona Spain (online), 2020.<br><br>-
Takase, S., Suzuki, J., Okazaki, N., Hirao, T., and Nagata, M. "Neural headline generation on abstract meaning representation." in Proceedings of the 2016 conference on empirical methods in natural language processing, Austin, Texas, pp. 1054-1059, 2016.
<br><br> - Rush, A. M., Harvard, S. E. A. S., Chopra, S., and Weston, J. "A neural attention model for sentence summarization." in Proceedings of the 2015 conference on empirical methods in natural language processing, Lisbon, Portugal, pp. 379-389, 2015.
<br><br> - Tai, K. S., Socher, R., and Manning, C. D. "Improved semantic representations from tree-structured long short-term memory networks." in Proceedings of the 53rd Annual Meeting of the Association for Computational Linguistics and the 7th International
Joint Conference on Natural Language Processing (Volume 1: Long Papers), Beijing, China, pp. 1556-1566, 2015.

<iframe src="/assets/files/Abstract-Meaning-Representation.pdf" width="100%" height="350px">
</iframe>

<br>
<br>

<h3>Fast abstractive summarization with Reinforce-Selected Sentence Rewriting</h3>

<h5>리뷰한 논문</h5>
Chen, Y. C., Bansal, M. "Fast abstractive summarization with reinforce-selected sentence rewriting." in Proceedings of the 56th Annual Meeting of the Association for Computational Linguistics (Volume 1: Long Papers), Melbourne, Australia pp. 675-686,
2018.
<br><br>
<h5>참고 문헌</h5>
- Huang, S., Wang, R., Xie, Q., Li, L., and Liu, Y. "An Extraction-abstraction hybrid approach for long document summarization." in Proceedings of the 2019 6th International Conference on Behavioral, Economic and Socio-Cultural Computing (BESC), Beijing,
China, pp. 1-6, 2019.<br><br> - Vinyals, O., Fortunato, M., and Jaitly, N. "Pointer networks.“ in Proceedings of the 28th International Conference on Neural Information Processing Systems - Volume 2, Montreal, Canada, pp. 2692-2700, 2015. <br><br> - Vinyals,
O., Bengio, S., and Kudlur, M. "Order matters: sequence to sequence for sets.“ in Proceedings of the 4th International Conference on Learning Representations, San Juan, Puerto Rico, 2016.

<iframe src="/assets/files/An-Extraction-Abstraction-Hybrid-Approach.pdf" width="100%" height="350px">
</iframe>
