---
layout: archive
---

{{ content }}
<br>
{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

<!-- 태그 테이블-->
<ul class="taxonomy__index">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i %}
        <li>
          <a href="{{ tag[0] | slugify }}">
            <h1>{{ tag[0] }}</h1> 
            <br>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

